body {
  font-family: 'Ubuntu', sans-serif;

  background-color: #a9b2bc;
}


img {
  max-width: 200px;
  max-height: 200px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.product_box {
  background-color: #B0C4DE;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 3px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 4px 4px 2px #888888
}


.product_box p {
  margin: 0 auto;
  text-align: center;
}

.product_box img {
  max-width: 200px;
  max-height: 200px;
}

.price_box {
  margin: 10px;
}

.bottom_link {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.center_h1 h1 {
  padding: auto;
}

h1 {
  margin: 0 auto;
  text-align: center;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.thumbnail {
  margin: 0 auto;
  text-align: center;
}

.thumbnail img{
  margin: 0 auto;
  max-height: 40px;
  text-align: center;
}

.form_box {
  background-color: #B0C4DE;
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  padding: 20px;
  box-shadow: 4px 4px 2px #888888
}

.show_box {
  background-color: #B0C4DE;
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  padding: 20px;
  box-shadow: 4px 4px 2px #888888
}

@media only screen and (max-width: 500px) {
    table {max-width: 10%;}
    th {max-width: 10%;}
}



.notice {
  position: relative;
  margin: 1em;
  background: #F9F9F9;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
}

.notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
  border-color: #0074D9;
}

.info:before {
  content: "i";
  background-color: #0074D9;
}

.success {
  border-color: #2ECC40;
}

.success:before {
  content: "√";
  background-color: #2ECC40;
}

.warning {
  border-color: #FFDC00;
}

.warning:before {
  content: "!";
  background-color: #FFDC00;
}

.error {
  border-color: #FF4136;
}

.error:before {
  content: "X";
  background-color: #FF4136;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
