body {
  font-family: 'Ubuntu', sans-serif;

  background-color: #a9b2bc;
}


img {
  max-width: 200px;
  max-height: 200px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.product_box {
  background-color: #B0C4DE;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 3px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-shadow: 4px 4px 2px #888888
}

.product_box p {
  margin: 0 auto;
  text-align: center;
}

.product_box img {
  max-width: 200px;
  max-height: 200px;
}

.price_box {
  margin: 10px;
}

.bottom_link {
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
}



table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.thumbnail {
  margin: 0 auto;
  text-align: center;
}

.thumbnail img{
  margin: 0 auto;
  max-height: 40px;
  text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
